body{
    font-size:small;
    font-family:Verdana, Helvetica, Arial, sans-serif;
    margin:0px;  
}
div#header{
    background:url("./images/header1.png") no-repeat;
    margin: 0px;
    height: 300px;
}
#header img#header2 {
	float: right;
}
div#talking h1{
    color: #1576adf2;
    margin-left: 50px;
    border-bottom: #1576adf2 solid thick;
}
div#talking p{
    font-size: 1.3em;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: bold;
}
form{
    display: table;
    padding: 20px;
    border: thin dotted #1576adf2;
    margin-left: 500px;
    background-color: aliceblue;
}
div.tableRow {
	display: table-row;
}
div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
div.tableRow p:first-child {
	text-align: right;
}
form textarea {
	width: 500px;
	height: 300px;
}
div#sidebar {
    display: table-cell;
    background:       #a1c5eb;
    font-size:         1.4em;
    padding:          15px;
    vertical-align: top;
    /* 绝对定位 */
    position: absolute;
    top:600px;
    left: 30px;
    flood-color: #fff;
  }
div#sidebar a:link{
    color: #fff;
}
div#sidebar a:visited{
    color: #1576adf2;
}
div#sidebar a:hover{
    color: bisque;
}
div#sidebar2{
    border: thin solid white;
    font-size: 1.2em;
    background-color: #F0F0F0;
    padding: 20px;
    position: absolute;
    top:800px;
    left: 30px;
}